{% extends 'base.html' %}

{% block title %}Редактировать рецепт{% endblock %}

{% block content %}
<div class="container">
    <h2>Редактировать рецепт</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group">
            {{ form.instructions.label_tag }}
            {{ form.instructions }}
        </div>
        <div class="form-group">
            {{ form.preparation_time.label_tag }}
            {{ form.preparation_time }}
        </div>
        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <button type="submit">Сохранить</button>
    </form>
</div>
{% endblock %}
